body {
  background: url("../img/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: monospace;
}

#mainH1 {
  text-align: left;
  font-size: 80px;
  text-decoration: none;
  margin-left: 130px;
  margin-bottom: 40px;
}

#me {
  border-radius: 50%;
  margin-left: 100px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 60px;
  text-decoration: underline;
  margin-top: 50px;
}

#hello {
  text-align: left;
  margin-left: 50px;
  font-size: 18px;
}

a {
  font-size: 18px;
  color: whitesmoke;
}

#sidebar {
  border: solid #ffa8B6;
  border-width: 5px;
  width: 100%;
  float: right;
  margin: 20px;
  margin-right: 100px;
  padding: 20px;
  text-align: center;
}
.info-link {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 35px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#info-link1 {
  background-color: #9df9ef;
}

#info-link2 {
  background-color: #ffa8B6;
}

#info-link3 {
  background-color: #51e2f5;
}

#info-link4 {
  background-color: #a28089;
}

.portfolio-image {
  padding-left: 70px;
  padding-bottom: 20px;
}

.project-link {
  color: blue;
  text-decoration: underline;
  padding-left: 120px;
}

#name {
  color: #ffa8B6;
  font-size: 26px;
}

p{
  text-align: center;
  font-size: 16px;
}

ol, ul {
  font-size: 16px;
  font-style: unset;
  padding: 20px;
}

#favorites {
  text-align: left;
}

.title {
  font-weight: bold;
}