h1 {
  text-align: left;
  font-size: 60px;
}

#sidebar {
  border: solid #0FB0E7;
  border-width: 5px;
  width: 40%;
  float: right;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.info-link {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#info-link1 {
  background-color: #1af0c5;
}

#info-link2 {
  background-color: #D635E6;
}

#info-link3 {
  background-color: #E8D114;
}

#info-link4 {
  background-color: #F63EC6;
}