body {
  background: url("../img/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: monospace;
}

h1 {
  text-align: left;
  font-size: 60px;
}

a {
  font-size: 18px;
  color: whitesmoke;
}

#sidebar {
  border: solid #ffa8B6;
  border-width: 5px;
  width: 30%;
  float: right;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.info-link {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 35px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#info-link1 {
  background-color: #9df9ef;
}

#info-link2 {
  background-color: #ffa8B6;
}

#info-link3 {
  background-color: #51e2f5;
}

#info-link4 {
  background-color: #a28089;
}